* {
  transition: all 0.15s ease-in-out;
}

html{
  cursor: none;
}

/* animations */
@keyframes textRoll {
  from {
    width: 1ch;
  }
}

.home {
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.logo {
  font-family: "Roboto", serif;
  transition: all 2s ease-in-out;
}

@keyframes slideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

/* splash animation */
.splashBase {
  font-family: "Poppins", serif;
}

.logoText .txt {
  position: relative;
  display: inline-block;
  bottom: -30px;
  opacity: 0;
}

.logoText .txt.active {
  bottom: 0;
  opacity: 1;
  transition: all 1s ease-in-out;
}

.logoText .txt.fade {
  opacity: 0;
  bottom: 20px;
  transition: all 0.3s ease-in-out;
}

/* Flex container to arrange slices side by side */
.splashBase .w-screen {
  display: flex;
  position: absolute; /* or 'relative' based on layout needs */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 41;
}

/* sliding animation */
.abg, .bbg{
  transition: all 0.8s ease;
}

.abg.slip, .bbg.slip{
  transform: translateY(-100%);
}

.bbg.slip{
  transform: translateY(-100%);
}

.slice {
  flex: 1; /* This ensures each slice takes equal space */
  height: 100%; /* Ensure each slice fills the full height */
  opacity: 1;
  transition: all 0.8s ease;
  transform: translateY(0); /* Initially, no transform */
  background-color: rgb(155, 160, 177);
}
.slice1 {
  flex: 1; /* This ensures each slice takes equal space */
  height: 100%; /* Ensure each slice fills the full height */
  opacity: 1;
  transition: all 0.8s ease;
  transform: translateY(0); /* Initially, no transform */
  background-color: rgb(0, 0, 20);
}

/* Slice animations */
.slice.over {
  opacity: 80%;
  transform: translateY(100%); /* Slide up 100% of the height */
}

.slice1.over{
  opacity: 80%;
  transform: translateY(-100%);
}

/* navbar */
.navbar {
  position: relative;
}

.hamburger-menu {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
}

.hamburger-menu.open {
  transform: translateY(-50%) translateX(0);
}

.hamburger-menu.closed {
  transform: translateY(-50%) translateX(100%);
}

/* right div scrollbar styling */
/* Scrollbar for Webkit Browsers (Chrome, Edge, Safari) */
.right::-webkit-scrollbar {
  width: 8px; /* Adjust width */
}

.right::-webkit-scrollbar-track {
  background: yellow; /* Track background */
  border-radius: 10px;
}

.right::-webkit-scrollbar-thumb {
  background: blue; /* Scrollbar color */
  border-radius: 10px;
}

.right::-webkit-scrollbar-thumb:hover {
  background: #d10042; /* Color when hovered */
}

/* Firefox Custom Scrollbar */
.right {
  scrollbar-color: #ff004f transparent;
  scrollbar-width: thin;
}


/* cursor */
.customCursor{
  transition: all 0.01s ease;
}